<!-- View Book -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitabın Detalları</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-6">
    <h2 class="text-4xl font-bold mb-6 text-center">Kitabın Detalları</h2>
    <div class="mb-4">
        <h3 class="text-2xl font-semibold">Başlıq: Kitab 1</h3>
        <h3 class="text-2xl font-semibold">Yazar: Orxan Hüseynov</h3>
    </div>
    <a href="books.html" class="text-teal-600 hover:text-teal-800">Geri qayıt</a>
</div>
</body>
</html>
