<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tələbə Yarat</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-6">
    <h2 class="text-4xl font-bold mb-6 text-center">Yeni Tələbə Yarat</h2>
    <form action="/students/create" method="post" class="bg-white p-6 rounded-lg shadow-lg">
        <label for="firstName" class="block text-lg mb-2">Ad</label>
        <input type="text" id="firstName" name="firstName" class="border p-2 rounded-md w-full mb-6">

        <label for="lastName" class="block text-lg mb-2">Soyad</label>
        <input type="text" id="lastName" name="lastName" class="border p-2 rounded-md w-full mb-6">

        <label for="email" class="block text-lg mb-2">E-poçt</label>
        <input type="email" id="email" name="email" class="border p-2 rounded-md w-full mb-6">

        <button type="submit" class="bg-teal-600 text-white px-6 py-3 rounded-full hover:bg-teal-800">Tələbəni Yarat</button>
    </form>
</div>
</body>
</html>
